@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

@utility truncate-2lines {
	/* max-height: 50px; Your desired maximum height */
	/*line-height: 20px;  Set a fixed line-height for consistent calculation */
	overflow: hidden; /* Hide overflow content */
	display: -webkit-box; /* Required for line-clamp in WebKit browsers */
	-webkit-box-orient: vertical; /* Orientation for multi-line clamping */
	-webkit-line-clamp: 2; /* Number of lines before truncation: max-height / line-height (e.g., 100px / 20px = 5) */
}

@utility content-visibility-auto {
	content-visibility: auto;
}

@utility contain-intrinsic-size-500px {
	contain-intrinsic-size: 100% 500px;
}

@utility contain-intrinsic-size-210px {
	contain-intrinsic-size: 100% 210px;
}

@plugin "daisyui" {
	themes:
		cupcake --default,
		cupcake --prefersdark,
		cupcake;
}

@theme {
	/* colors in hex: 
	primary: #43ebd3
	bg-base-100: #faf7f5 
	bg-base-200: #efeae7
	*/

	/* from daisyUI internals, color for input borders */
	--input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);

	--color-base-500: var(--input-color);
	--color-base-600: color-mix(in oklab, var(--color-base-content) 30%, #0000);
	--color-base-700: color-mix(in oklab, var(--color-base-content) 40%, #0000);

	--color-primary-btn-border: color-mix(in oklab, var(--color-primary), #000 calc(var(--depth) * 5%));
}

/* textarea looks ugly with full rounded cornders */
.textarea {
	@apply rounded-2xl;
}

/* disabled selects look ugly */
.select,
select {
	@apply disabled:!border-base-300 disabled:!border-2;
}

@font-face {
	font-family: 'Baloo-2-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('$lib/fonts/Baloo2-SemiBold.woff2') format('woff2');
}

.font-brand {
	font-family: 'Baloo-2-SemiBold', 'Arial';
}

/* no prose text should be too bold */
h1,
h2,
h3,
h4,
h5,
h6,
.prose strong,
.prose b {
	@apply font-semibold;
}

@import 'tw-animate-css';

img {
	/* Prevent haptic touch (long press to expand the image) and prevent the user from dragging out images on WebKit derived browsers (Chrome & Safari). */
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

body {
	touch-action: manipulation; /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. */
}

.active {
	@apply border-primary-btn-border bg-primary/15 ;
}


.fooooo {
	background-color: red;
}