@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		cupcake --default,
		cupcake --prefersdark,
		cupcake;
}

@theme {
	/* from daisyUI internals, color for input borders */
	--input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
	--color-base-500: var(--input-color);
}

@import 'tw-animate-css';
